# PyCharm IDE
env/

# Migration Directory

# Google API Credentials
.credentials/
client_secret.json

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
.idea/

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride